.videoArea {
    height: 500px;
    display: flex;
    justify-content: center;
}

#videoList {
    order: 2;
    background-color: rgb(206, 252, 252);
    height: 500px;
    width: 300px;
    font-weight: 700;
}

#videoList a {
    text-decoration: none;


}

#videoList li {
    list-style: none;
}

article {
    color: rgb(247, 10, 196);
}
#VideoPlayer {
    height: 500px;
    width: 300px;
    order: 1;
    flex-grow: 1;
}