.videoArea {
    height: 500px;
    display: flex;
    justify-content: center;
}

#videoList {
    order: 2;
    background-color: aqua;
    height: 500px;
    width: 300px;
    font-size: large;
    font-weight: bolder;
}

#videoList a {
    text-decoration: none;


}

#videoList li {
    list-style: none;
}

#VideoPlayer {
    height: 500px;
    width: 300px;
    order: 1;
    flex-grow: 1;
}